@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*, 
*::before, 
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f3f3f3;
}

#container .ql-toolbar{
  background-color: white;
  position: sticky;
  box-shadow: 0 0 5px rgb(201, 201, 201);
  top: 0;
  padding: 1rem 0;
  z-index: 1;
}

#container .ql-editor{
  width: 8.5in;
  min-height: 11in;
  margin: 2rem;
  padding: 1in;
  background-color: white;
  border: 1px solid rgb(207, 207, 207);
}

#container .ql-snow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-btn{
  position: fixed;
  right: 10px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(84, 56, 211);
  color: white;
  padding: 0.5rem 1rem;
  z-index: 10;
  border: none;
  outline: none;
  cursor: pointer;
}

@page{
  margin: 1in;
}

@media print{

  #container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 1rem;
    margin: 0;
  }

  #container .ql-toolbar {
    display: none;
  }
}